node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

frontend-remix/node_modules

frontend-remix/.cache
frontend-remix/build
frontend-remix/public/build
frontend-remix/.env
frontend-remix/app/tailwind.css